.root{
    -fx-background-color:#59ABE3;
}
.label {
     -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-size:18;
    -fx-font-weight: bold;
   
    
}

.button{
     -fx-background-color: linear-gradient(#61a2b1, #2A5058);
     -fx-padding: 5 5 5 5;
     
     -fx-background-radius: 7;
     -fx-font-size:13;
     -fx-font-weight:bold;
     -fx-text-fill: whitesmoke;
}
.TextField{
    -fx-background-size:200; 
   
}